.App {
    min-height: 100vh;
    background: #227093;
}
.container {
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
}
.generator {
    background: #218c74;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255,255,255,0.2);
    padding: 20px;
}
.generator__header{
    text-align: center;
    color: azure;
    margin-bottom: 20px;
}
.generator__password{
    position: relative;
    background: rgba(0,0,0,0.4);
    padding: 13px 10px;
    color: azure;
    height: 46px;
    margin-bottom: 15px;
}
.copy__btn{
    position:absolute;
    background: #ff793f;
    color: azure;
    border: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    top: 3px;
    right: 3px;
}
.generator__btn{
    background: #3c6382;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: azure;
    font-size: 17px;
    cursor: pointer;
}
.form-group{
    display: flex;
    justify-content: space-between;
    color: azure;
    margin-bottom: 15px;
}